.info-order {
    position: relative;
    background-color: #e3353d;
    padding-bottom: 125px;
    padding-top: 35px;

    font-style: normal;
    letter-spacing: 0;
    line-height: 1.2em;
    color: #fff;

    background-image: url("../img/order-list_bg_small.png"), url("../img/order-list_bg_line_small.png");
    background-repeat: no-repeat, repeat-x;
    background-position: bottom center, bottom center;
}

.info-order__list {
    @include list-reset();
    padding-left: 47px;
    padding-right: 15px;
    counter-reset: number;
}

.info-order__item {
    position: relative;
    margin-bottom: 20px;
}

.info-order__item_number::before {
    counter-increment: number;
    content: counter(number);
    position: absolute;
    left: -35px;
    top: -18px;
    font-family: "Playfair Display", "Arial", "Helvetica", sans-serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 1.2em;
    letter-spacing: .01em;
}

.info-order__list-title {
    display: block;
    margin-bottom: 6px;

    font-size: 15px;
    font-weight: 700;
    letter-spacing: .01em;
}

.info-order__list-text {
    margin: 0;

    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
}

@media (min-width: 768px) {
    .info-order {
        padding-bottom: 0;
        padding-top: 50px;
        min-height: 420px;
        background-image: none;
        overflow: hidden;
    }
    .info-order__list {
        width: 270px;
        padding: 0;
        margin-left: 23.5rem;
    }
    .info-order__item {
        margin-bottom: 32px;
    }
    .info-order__list-title {
        font-size: 15px;
        line-height: 27px;
        letter-spacing: .01em;
    }
    .info-order__item_number::before {
        top: -12px;
        font-size: 36px;
    }
}

@media (min-width: 1366px) {
    .info-order {
        padding-top: 125px;
        min-height: 579px;
    }
    .info-order__list {
        margin-left: 64.91%;
        padding-left: 60px;
        width: 380px;
    }
    .info-order__item {
        margin-bottom: 35px;
    }
    .info-order__list-title {
        font-size: 21px;
    }
    .info-order__list-text {
        font-size: 20px;
        line-height: 24px;
    }
    .info-order__item_number::before {
        top: -32px;
        left: -55px;
        font-size: 65px;
    }
}
